html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

body {
    background-color : #b5b5b5;
    margin: 0;
    padding: 0;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -5em;
}

h1 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}

legend {
    font-size: 18px;
    font-weight: bold;

}

form {
    width: 300px;
    margin: 0 auto;
}

#submit {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    font-size: 16px;
    font-weight: bold;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

